@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
// General Colors Variables
//===========================================================
$white:         #fff;
$gray-100: #F8F9FA ; //changed
$gray-200: #E9ECEF ; //changed
$gray-300: #DEE2E6 ; //changed
$gray-400: #CED4DA ; //changed
$gray-500: #ADB5BD ; //changed
$gray-600: #868E96 ; //changed
$gray-700: #5D636D ; //changed
$gray-800: #3F4651 ; //changed
$gray-900: #353C48 ; //changed
$black:  #1F2D3D;

$blue:    #1EB7FF;
$indigo:  #6610f2;
$purple:  #CA8EFF; //change
$pink:    #e83e8c;
$red:     #ED1C24; //change
$orange:  #F27212; //change
$yellow:  #F7BF47; //change
$green:   #1BB934;  // change
$teal:    #20c997;
$cyan:    #33AE9A; //change

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $orange;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$facebook:      #3A5E95;
$twitter:       #60ADDB;
$lastfm:        #E01132;
$pinterest:     #BD0520;
$linkedin:      #057CB2;
$medium:        #5cb85c;
$skype:         #0AB2EF;
$foursquare:    #F84978;
$android:       #A6C843;
$spotify:       #2FD665;
$paypal:        #2A9AD7;
$dribbble:      #F16898;
$youtube:       #ED1922;
$windows:       #10BFF2;
$amazon:        #FEA320;

// Settings for the `<body>` element.

$body-bg:       #F9FAFC;
$body-color:    #8493A5; //changed